{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Malita Map</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Qgis2threejs.css' %}">
    </head>
    <body>
        <div id="webgl"></div>

        <!-- popup -->
        <div id="popup" style="display:none;">
            <div id="closebtn">&times;</div>
            <div id="popupbar"></div>
            <div id="popupbody">
                <div id="popupcontent"></div>
                <div id="pageinfo">
                    <h1>Current View URL</h1>
                    <div><input id="urlbox" type="text"></div>

                    <h1>Usage</h1>
                    <div id="usage"></div>

                    <h1>About</h1>
                    <div id="about">This program was made by <a href="https://www.facebook.com/davoccidental/">DAVAO OCCIDENTAL PEEIPO</a> and <a href="https://github.com/minorua/Qgis2threejs" target="_blank">Q3JS</a> plugin,
                        and uses the following library:
                        <ul>
                            <li>three.js <a href="http://threejs.org/" target="_blank">http://threejs.org/</a> <a href="./threejs/LICENSE" target="_blank" class="license">(LICENSE)</a></li>
                            <li>dat-gui <a href="https://code.google.com/p/dat-gui/" target="_blank">https://code.google.com/p/dat-gui/</a> <a href="./dat-gui/license.txt" target="_blank" class="license">(LICENSE)</a></li>
                            <li id="lib_proj4js" style="display: none;">Proj4js <a href="http://trac.osgeo.org/proj4js/" target="_blank">http://trac.osgeo.org/proj4js/</a> <a href="./proj4js/LICENSE.md" target="_blank" class="license">(LICENSE)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div id="footer"></div>

        <script>
            var mapData = [];
            {% for family in families %}
                var familyData = {
                    'name': '{{ family.head__name }}',
                    'points': [{{ family.map_points }}]
                };
                mapData.push(familyData);
            {% endfor %}
        </script>

        <script src="{% static 'js/threejs/three.min.js' %}"></script>
        <script src="{% static 'js/Qgis2threejs.js' %}"></script>
        <script src="{% static 'js/threejs/OrbitControls.js' %}"></script>
        <script src="{% static 'js/threejs/loaders/ColladaLoader.js' %}"></script>
        <script src="{% static 'js/proj4js/proj4.js' %}"></script>
        <script src="{% static 'js/map-constants.js' %}"></script>
        <script src="{% static 'js/map-data.js' %}"></script>
        <script src="{% static 'js/dat-gui/dat.gui.min.js' %}"></script>
        <script src="{% static 'js/dat-gui_panel.js' %}"></script>

        <script>
            var container = document.getElementById("webgl");
            // initialize application
            var app = Q3D.application;
            app.init(container);

            // load the project
            app.loadProject(project);

            app.addEventListeners();
            app.start();

            // initialize dat-gui panel
            Q3D.gui.init();
        </script>
    </body>
</html>
